.purchase-interface {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.500) 50%, rgba(0, 0, 0, 0.500) 80%);
    border-radius: 20px;
    width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}